/* This is the stylesheet for my portfolio website. */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&family=UnifrakturCook:wght@700&display=swap');

#page-title {
    font-family: 'Roboto', sans-serif;
}

#body-paragraph {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 20px;
}



#specialText {
    font-family: 'UnifrakturCook', cursive;
}

h2 {
    color: black;
}

#container {
    width: 500px;
    margin-top: 100px;
    margin-left: 100px;
    text-align: left;
}

#header {
}

#header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    color: snow;
}

#header ul {
    color: white;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    
}

#header ul li {
    background-color: darkgray;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 15px;
}

#header ul li a {
}

#header ul li a:link {
    color: white;
    text-decoration: none;
}

#header ul li a:visited {
    color: darkblue;
}

#header ul li a:hover {
    color: salmon;
}

#header ul li a:active {
     color: pink;
     margin-left: 5px;
     margin-top: 5px;
}



#main {
    background-color: white;
    
}

#first-section-title {
    margin-top: 0;
    padding-top: 20px;
}

#main p {
    text-align: left;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 22px;
    color: DarkSlateGray;
}

#main img {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 85px;
}


#footer {

}

body#contact-page form#contact-form {
    text-align: left;
    margin-left: 100px;
}

body#contact-page form#contact-form input {
    margin-bottom: 20px;
    height: 50px;
    width: 75%;
    font-size: 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: darkblue;
    padding-left: 10px;
}

body#contact-page form#contact-form #submit {
    font-size: 20px;
    width: 100px;
}
